@import '../../styles/globals.scss';

$header-height: 60px;
$header-shadow: 1px 1px 5px $grey;

header {
	height: $header-height;
	margin-bottom: 30px;
}

nav {
	box-shadow: 0px 1px 5px #222;
	height: $header-height;
	background-color: $color--primary;
	z-index: 2;
	width: 100%;
	left: 0;
	top: 0;
	padding: 0;
	position: fixed;
	overflow: hidden;

	ul {
		display: inline-block;
	}

	li {
		display: inline-block;
		height: $header-height;
		text-decoration: none;

		a {
			display: block;
			padding: 0 10px;
			text-align: center;
			line-height: $header-height;
			height: $header-height;
			color: $grey;
			background-color: $color--primary;
			position: relative;

			i {
				color: $grey;
			}
		}

		a:hover {
			color: $white;

			i {
				color: $white;
			}
		}

		a.active {
			background-color: darken($color--primary, 10%);
			color: $white;

			i {
				color: $white;
			}
		}
	}
}

#logo {
	font-size: 20px;
	height: 100%;
	margin-right: 20px;
	display: inline-block;
	color: $white;
	line-height: 60px;
}

.sign-out-btn {
	color: #ffffff;
	border: none;
	background: none;
	vertical-align: middle;
	line-height: 60px;
}
