
.navbar {
	background-color: #19334d;
}

/* #logo {
	font-size: 26px;
}

#logo a {
	color: #ffffffd5;
	text-decoration: none;
}

#navSection {
	width: 100%;
	box-shadow: 1px 1px 5px #222;
	display: block;
	padding: 0;
	font-size: 16px;
	height: 75px;
}

#navContent {
	position: relative;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

#navContent ul {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

#navContent li {
	padding: 0;
	display: inline-block;
  position: relative;
}

#navContent li a {
	height: 75px;
	line-height: 37.25px;
	text-decoration: none;
	text-shadow: 0px 0px 5px #222;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	transition: 0.2s background-color linear;
}

#task {
  color: #c3c3c3;
}

#settingsBtn {
	border: none;
}

#settingsBtn i {
	vertical-align: middle;
} */
