
#menuBtn {
	background: none;
	color: #ffffff;
}

header {
	height: 75px;
}

nav {
	box-shadow: 1px 1px 5px gray;
	position: fixed;
	z-index: 2;
	width: 100%;
	left: 0;
	top: 0;
	padding: 0;
	height: 60px;
	line-height: 60px;
}

nav ul {
	display: inline-block;
}

nav li {
 display: inline-block;
 height: 100%;
 text-decoration: none;
}

nav li a {
	display: block;
	padding: 10px;
	text-align: center;
	line-height: 40px;
	height: 100%;
}

#logo {
	font-size: 20px;
	height: 100%;
	margin-right: 20px;
	display: inline-block;
}

#logo a, #logo span {
	color: #ffffffd5;
	text-decoration: none;
	line-height: 40px;
	display: block;
}
