body {
	font-family: 'Open Sans';
	padding: 0;
	margin: 0;
	background-color: #e9ebee;
	font-size: 14px;
}

* {
  box-sizing: border-box;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.bg-theme {
	background-color: #19334d;
	color: #ffffffd5;
}

.bg-theme-link:hover i {
	color: #ffffff;
}

.bg-theme-link {
	color: #ffffffd5;
	text-decoration: none;
}

.bg-theme-btn {
	border: none;
	padding: 10px;
	background-color: #19334d;
	color: #ffffffd5;
	border-radius: 5px;
}

.bg-theme-btn:hover, .bg-theme-link:hover {
	background-color: #12263b;
	color: #ffffff;
	text-decoration: none;

}

.bg-theme-link.active, .bg-theme-btn:active {
	background-color: #0c1927;
	color: #ffffff;
	text-decoration: none;
}

.disabled-btn, .disabled-btn:hover {
	background-color: #19334d7e;
	color: #ffffffd5;
}

.display-date {
	font-style: italic;
	position: relative;
}

.display-date::before {
	content: '';
	position: absolute;
	left: -20px;
	top: 1px;
	background-color: #19334d;
	border-radius: 100%;
	height: 15px;
	width: 15px;
}

.centered {
	margin: 0 auto;
	text-align: center;
}

.form-elem {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #c2c2c2;
	background-color: #ffffff;
	width: 100%;
}

.list {
	border: 1px solid #c2c2c2;
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: 1px 1px 5px #cecece;
}

.task-week {
	margin: 0;
	padding: 12px;
	padding-top: 0;
	border-left: 1px solid #19334d;
}

.task-week:last-child {
	margin-bottom: 400px;
}

.tasks-section {
	height: 500px;
	overflow-y: auto;
}

.tasks-in-week {
	height: 100px;
}

.week-number {
	font-style: italic;
	margin-bottom: 0;
}

.list li {
	border-bottom: 1px solid #c2c2c2;
	min-height: 50px;
	line-height: 50px;
}

.list-elem-details {
	line-height: normal;
}

.list-elem-details textarea {
	width: 100%;
	height: 125px;
	max-width: 100%;
	max-height: 125px;
	border: 1px solid #c2c2c2;
	background-color: #f2f2f2;
	border-radius: 5px;
	padding: 10px;
}

.list li:last-child {
	border-bottom: none;
}

.list li button {
	width: 100%;
}

.right {
	float: right;
}

.form-row {
	margin-bottom: 5px;
}

input, select, button {
	margin: 0;
	font-size: 14px;
}

input:focus, select:focus, textarea:focus {
	box-shadow: 0 0 5px #19334d7e;
	border: 1px solid #c2c2c2;
	outline: none;
}
