@import '../base/globals.scss';

.tw-btn {
	@include rounded-corners(7.5px);
	background-color: $color--secondary;
	font-size: $font--large;
	color: $white;
	padding: 10px;
	margin: 5px;
	border: none;
	font-weight: bold;

	&:hover {
		background-color: lighten($color--secondary, 10%);
	}

	&:disabled {
		filter: grayscale(70%);

		&:hover {
			background-color: $color--secondary;
		}
	}
}

.tw-form-label {
	color: $color--secondary;
}

.tw-form-elem {
	@include rounded-corners(7.5px);
	border: 1.5px solid $grey;
	padding: 10px;
	margin: 5px;
	outline: none;
	background-color: $white;

	&:focus {
		outline: none;
	}

	&.long {
		width: 400px;
	}
}
