@import '../../styles.scss';

.display-date {
	font-weight: 500;
	font-style: italic;
	position: relative;
}

.display-date::before {
	content: '';
	background-color: $primary;
	position: absolute;
	left: -20px;
	top: 1px;
	border-radius: 100%;
	box-shadow: 1px 1px 5px $shadow-color;
	height: 15px;
	width: 15px;
}

.task-week {
	margin: 0;
	padding: 12px;
	padding-top: 0;
	border-left: 1px solid #19334d;
}

.task-week:last-child {
	margin-bottom: 400px;
}

.tasks-section {
	height: 500px;
	overflow-y: auto;
}

.tasks-in-week {
	height: 100px;
}

.week-number {
	font-weight: 500;
	margin-bottom: 0;
}

.create-btn {
	width: 65px;
}
