
#loginForm {
	margin-top: 25px;
	width: 300px;

	input {
		display: block;
		width: 300px;
	}

	button {
		float: right;
		margin-top: 10px;
	}
	
}

.login-form-row {
	width: 300px;
	margin-bottom: 5px;

	.tw-form-elem {
		width: 100%;
		padding: 10px;
	}
}
