@import '../../styles/globals.scss';

.display-date {
	font-style: italic;
	position: relative;
	margin: 20px 0;
	display: block;
	color: lighten($black, 20%);
	padding-left: 5px;
}

.display-date::before {
	content: '';
	background-color: darken($color--primary, 10%);
	position: absolute;
	left: -20px;
	top: 1px;
	border-radius: 100%;
	box-shadow: 1px 1px 5px $grey;
	height: 15px;
	width: 15px;
}

.task-week {
	margin: 0;
	padding: 12px;
	padding-top: 0;
	border-left: 1px solid darken($color--primary, 10%);
}

.task-week:last-child {
	margin-bottom: 400px;
}

.tasks-section {
	height: 500px;
	overflow-y: auto;
}

.tasks-in-week {
	height: 100px;
}

.week-number {
	font-weight: 500;
	margin: 0 auto;
}

.tw-btn.on-going-time {
	background-color: $green;

	&:hover {
		background-color: $green;
	}
}
