.on-going-time {
	background-color: #008040;
	font-size: 14px;
}

.task-list-item {
	height: 60px;
	line-height: 60px;
	transition: .2s height linear;
}

.task-list-item.expanded {
	height: 200px;
}

.task-list-item .list-elem-details textarea {
	height: 0;
	padding: 0px;
	transition: .2s height linear;
	display: block;
	box-shadow: none;
	float: left;
	display: none;
}

.task-list-item.expanded .list-elem-details textarea {
	height: 100px;
	padding: 10px;
	box-shadow: 1px 1px 5px #19334d7e;
	float: none;
	display: block;
}

.task-title {
	display: inline-block;
	line-height: 1em;
	font-weight: bold;
}
