
.content {
	position: relative;
	margin: 0 auto;
	padding: 20px;
}

@media only screen and (min-width: 1000px) {
	.content {
		width: 950px;
	}
} 

@media only screen and (max-width: 999px) {
	.content {
		width: 100%;
	}
}

input {
	border: 1px solid #adadad;
	padding: 10px;
	font-size: 14px;
	border-radius: 5px;
}

button {
	display: block;
	padding: 10px;
	border: 1px solid #adadad;
	color: #ffffff;
	background-color: #19334d;
	border-radius: 5px;
}

#settings {
	position: absolute;
	right: 50px;
	top: 50px;
}

#settings i {
  color: #222;
}

#settings ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: none;
}

#mainSection {
	padding: 20px;
	margin: 0 auto;
	position: relative;
}

#logoutBtn {
	background-color: transparent;
	border: none;
	color: #ffffffd5;
	padding: 10px 25px;
	position: absolute;
	bottom: 30px;
}

.title-underline {
	width: 30px;
	height: 5px;
}
