@import '../../styles/globals.scss';

.completed {
	color: $white;
	background-color: $green;
}

.paused {
	color: $black;
	background-color: $grey;
}

.in-progress {
	color: $white;
	background-color: $color--secondary;
}
