@import '../../styles.scss';

.on-going-time {
	background-color: $success;
}

.task-list-item {
	width: 100%;
	transition: .2s height linear;
	font-size: 12px;
}

.task-list-item .list-elem-details textarea {
	height: 0;
	padding: 0px;
	transition: .2s height linear;
	display: block;
	box-shadow: none;
	display: none;
}

.task-list-item.expanded .list-elem-details textarea {
	height: 100px;
	padding: 10px;
	display: block;
}

.task-list-item {
	.list-item-row:last-child {
		margin-left: 10px;
	}

	.form-elem, button {
		font-size: 12px;
	}

	.form-elem {
		padding: 5px;
	}

	button {
		width: 65px;
	}
}

.task-title {
	margin-bottom: 5px;
}

.expand-icon-section {
	height: 100%;
	display: inline-block;
}

.create-btn {
	float: right;
}
