@import '../../styles';

.tw-project {
	width: 100%;

	.project-title {
		margin-bottom: 10px;
	}
}

.add-project-form {
	label {
		vertical-align: middle;
		display: inline-block;
		input, select {
			display: block;
		}

		span {
			margin-left: 12.5px;
		}
	}
}
