$white: #FFFFFF;
$blue: #2D4B71;
$orange: #ED6A5A;
$green: #00B300;
$red: #7C0404;
$grey: #E6E6E6;
$black: #0D0C1D;

$color--primary: $blue;
$color--secondary: $orange; 

$font--family: 'Karla';
$font--xsmall: 12px;
$font--small: 14px;
$font--medium: 16px;
$font--large: 18px;
